<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_leave_queue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,298}}</string>
                <key>sourceSize</key>
                <string>{166,298}</string>
            </dict>
            <key>btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,709},{124,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,71}}</string>
                <key>sourceSize</key>
                <string>{124,71}</string>
            </dict>
            <key>btn_back_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,636},{124,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,71}}</string>
                <key>sourceSize</key>
                <string>{124,71}</string>
            </dict>
            <key>btn_dizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,510},{124,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,71}}</string>
                <key>sourceSize</key>
                <string>{124,71}</string>
            </dict>
            <key>btn_dizhu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,835},{124,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,71}}</string>
                <key>sourceSize</key>
                <string>{124,71}</string>
            </dict>
            <key>btn_glod.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,709},{128,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,65}}</string>
                <key>sourceSize</key>
                <string>{128,65}</string>
            </dict>
            <key>btn_gold_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,842},{128,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,65}}</string>
                <key>sourceSize</key>
                <string>{128,65}</string>
            </dict>
            <key>btn_gold_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,842},{128,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,65}}</string>
                <key>sourceSize</key>
                <string>{128,65}</string>
            </dict>
            <key>btn_leave_queue_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,842},{144,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,48}}</string>
                <key>sourceSize</key>
                <string>{144,48}</string>
            </dict>
            <key>btn_leave_queue_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,842},{144,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,48}}</string>
                <key>sourceSize</key>
                <string>{144,48}</string>
            </dict>
            <key>btn_unbanker_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,709},{124,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,71}}</string>
                <key>sourceSize</key>
                <string>{124,71}</string>
            </dict>
            <key>btn_unbanker_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,839},{124,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,71}}</string>
                <key>sourceSize</key>
                <string>{124,71}</string>
            </dict>
            <key>img_0point_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,223},{45,29}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{45,29}}</string>
                <key>sourceSize</key>
                <string>{59,31}</string>
            </dict>
            <key>img_1000k_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,618},{79,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,31}}</string>
                <key>sourceSize</key>
                <string>{79,31}</string>
            </dict>
            <key>img_100k_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,204},{62,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,31}}</string>
                <key>sourceSize</key>
                <string>{62,31}</string>
            </dict>
            <key>img_10k_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,223},{44,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,31}}</string>
                <key>sourceSize</key>
                <string>{44,31}</string>
            </dict>
            <key>img_1k_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,272},{65,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,26}}</string>
                <key>sourceSize</key>
                <string>{65,26}</string>
            </dict>
            <key>img_1point_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,223},{45,30}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{45,30}}</string>
                <key>sourceSize</key>
                <string>{59,32}</string>
            </dict>
            <key>img_2point_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,965},{47,30}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{47,30}}</string>
                <key>sourceSize</key>
                <string>{59,32}</string>
            </dict>
            <key>img_3point_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,972},{47,30}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{47,30}}</string>
                <key>sourceSize</key>
                <string>{59,32}</string>
            </dict>
            <key>img_4point_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,972},{47,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{47,30}}</string>
                <key>sourceSize</key>
                <string>{59,32}</string>
            </dict>
            <key>img_500k_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,953},{67,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,31}}</string>
                <key>sourceSize</key>
                <string>{67,31}</string>
            </dict>
            <key>img_5point_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,223},{45,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{45,30}}</string>
                <key>sourceSize</key>
                <string>{59,32}</string>
            </dict>
            <key>img_6point_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,223},{45,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{45,30}}</string>
                <key>sourceSize</key>
                <string>{59,32}</string>
            </dict>
            <key>img_7point_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,961},{45,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{45,30}}</string>
                <key>sourceSize</key>
                <string>{59,32}</string>
            </dict>
            <key>img_8point_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,972},{47,30}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{47,30}}</string>
                <key>sourceSize</key>
                <string>{59,32}</string>
            </dict>
            <key>img_9point_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,972},{47,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{47,30}}</string>
                <key>sourceSize</key>
                <string>{59,32}</string>
            </dict>
            <key>img_banker_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,965},{56,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,30}}</string>
                <key>sourceSize</key>
                <string>{56,30}</string>
            </dict>
            <key>img_black_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,988},{130,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,33}}</string>
                <key>sourceSize</key>
                <string>{130,33}</string>
            </dict>
            <key>img_dice_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{102,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{102,118}}</string>
                <key>sourceSize</key>
                <string>{104,120}</string>
            </dict>
            <key>img_dice_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,498},{102,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{102,118}}</string>
                <key>sourceSize</key>
                <string>{104,120}</string>
            </dict>
            <key>img_dice_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,394},{102,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,120}}</string>
                <key>sourceSize</key>
                <string>{104,120}</string>
            </dict>
            <key>img_dice_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,272},{102,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,120}}</string>
                <key>sourceSize</key>
                <string>{104,120}</string>
            </dict>
            <key>img_dice_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,831},{102,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,120}}</string>
                <key>sourceSize</key>
                <string>{104,120}</string>
            </dict>
            <key>img_dice_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,709},{102,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,120}}</string>
                <key>sourceSize</key>
                <string>{104,120}</string>
            </dict>
            <key>img_dizhu_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,972},{62,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,48}}</string>
                <key>sourceSize</key>
                <string>{62,48}</string>
            </dict>
            <key>img_double_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,961},{59,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,30}}</string>
                <key>sourceSize</key>
                <string>{59,32}</string>
            </dict>
            <key>img_gold_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,510},{197,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,96}}</string>
                <key>sourceSize</key>
                <string>{197,96}</string>
            </dict>
            <key>img_gold_less.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,835},{120,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,103}}</string>
                <key>sourceSize</key>
                <string>{120,103}</string>
            </dict>
            <key>img_gold_more.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,302},{206,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,109}}</string>
                <key>sourceSize</key>
                <string>{206,109}</string>
            </dict>
            <key>img_majiang_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,472},{65,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,99}}</string>
                <key>sourceSize</key>
                <string>{65,99}</string>
            </dict>
            <key>img_majiang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,2},{65,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,99}}</string>
                <key>sourceSize</key>
                <string>{65,99}</string>
            </dict>
            <key>img_majiang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,103},{65,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,99}}</string>
                <key>sourceSize</key>
                <string>{65,99}</string>
            </dict>
            <key>img_majiang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,270},{65,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,99}}</string>
                <key>sourceSize</key>
                <string>{65,99}</string>
            </dict>
            <key>img_majiang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,371},{65,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,99}}</string>
                <key>sourceSize</key>
                <string>{65,99}</string>
            </dict>
            <key>img_majiang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{65,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,99}}</string>
                <key>sourceSize</key>
                <string>{65,99}</string>
            </dict>
            <key>img_majiang_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,122},{65,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,99}}</string>
                <key>sourceSize</key>
                <string>{65,99}</string>
            </dict>
            <key>img_majiang_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,270},{65,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,99}}</string>
                <key>sourceSize</key>
                <string>{65,99}</string>
            </dict>
            <key>img_majiang_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,122},{65,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,99}}</string>
                <key>sourceSize</key>
                <string>{65,99}</string>
            </dict>
            <key>img_majiang_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,953},{65,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,99}}</string>
                <key>sourceSize</key>
                <string>{65,99}</string>
            </dict>
            <key>img_majiang_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,957},{65,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,99}}</string>
                <key>sourceSize</key>
                <string>{65,99}</string>
            </dict>
            <key>img_north_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{268,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,266}}</string>
                <key>sourceSize</key>
                <string>{268,266}</string>
            </dict>
            <key>img_north_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,611},{70,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,36}}</string>
                <key>sourceSize</key>
                <string>{70,36}</string>
            </dict>
            <key>img_sky_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{268,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,266}}</string>
                <key>sourceSize</key>
                <string>{268,266}</string>
            </dict>
            <key>img_sky_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,573},{70,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,36}}</string>
                <key>sourceSize</key>
                <string>{70,36}</string>
            </dict>
            <key>img_south_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{268,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,266}}</string>
                <key>sourceSize</key>
                <string>{268,266}</string>
            </dict>
            <key>img_south_tilte.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,618},{70,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,36}}</string>
                <key>sourceSize</key>
                <string>{70,36}</string>
            </dict>
            <key>img_tiltle.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,272},{118,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,28}}</string>
                <key>sourceSize</key>
                <string>{118,28}</string>
            </dict>
            <key>tbn_gold_press_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,842},{128,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,65}}</string>
                <key>sourceSize</key>
                <string>{128,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>erguotou.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6fc81e24e49907df72bc1c798dafc642:1/1$</string>
            <key>textureFileName</key>
            <string>erguotou.png</string>
        </dict>
    </dict>
</plist>
