<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_leave_queue.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{166,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,298}}</string>
                <key>sourceSize</key>
                <string>{166,298}</string>
            </dict>
            <key>btn_allplayer_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,517},{124,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,71}}</string>
                <key>sourceSize</key>
                <string>{124,71}</string>
            </dict>
            <key>btn_allplayer_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,517},{124,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,71}}</string>
                <key>sourceSize</key>
                <string>{124,71}</string>
            </dict>
            <key>btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,504},{124,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,71}}</string>
                <key>sourceSize</key>
                <string>{124,71}</string>
            </dict>
            <key>btn_back_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,504},{124,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,71}}</string>
                <key>sourceSize</key>
                <string>{124,71}</string>
            </dict>
            <key>btn_dizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,478},{124,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,71}}</string>
                <key>sourceSize</key>
                <string>{124,71}</string>
            </dict>
            <key>btn_dizhu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,438},{124,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,71}}</string>
                <key>sourceSize</key>
                <string>{124,71}</string>
            </dict>
            <key>btn_glod.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,338},{128,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,65}}</string>
                <key>sourceSize</key>
                <string>{128,65}</string>
            </dict>
            <key>btn_gold_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,271},{128,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,65}}</string>
                <key>sourceSize</key>
                <string>{128,65}</string>
            </dict>
            <key>btn_gold_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,204},{128,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,65}}</string>
                <key>sourceSize</key>
                <string>{128,65}</string>
            </dict>
            <key>btn_keep_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,479},{124,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,71}}</string>
                <key>sourceSize</key>
                <string>{124,71}</string>
            </dict>
            <key>btn_keep_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,438},{124,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,71}}</string>
                <key>sourceSize</key>
                <string>{124,71}</string>
            </dict>
            <key>btn_leave_queue_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,52},{144,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,48}}</string>
                <key>sourceSize</key>
                <string>{144,48}</string>
            </dict>
            <key>btn_leave_queue_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{144,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,48}}</string>
                <key>sourceSize</key>
                <string>{144,48}</string>
            </dict>
            <key>btn_unbanker_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,406},{124,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,71}}</string>
                <key>sourceSize</key>
                <string>{124,71}</string>
            </dict>
            <key>btn_unbanker_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,405},{124,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,71}}</string>
                <key>sourceSize</key>
                <string>{124,71}</string>
            </dict>
            <key>img_0point_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,515},{45,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,29}}</string>
                <key>sourceSize</key>
                <string>{45,29}</string>
            </dict>
            <key>img_1000k_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,170},{79,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,31}}</string>
                <key>sourceSize</key>
                <string>{79,31}</string>
            </dict>
            <key>img_100k_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,320},{62,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,31}}</string>
                <key>sourceSize</key>
                <string>{62,31}</string>
            </dict>
            <key>img_10k_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,194},{44,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,31}}</string>
                <key>sourceSize</key>
                <string>{44,31}</string>
            </dict>
            <key>img_1k_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,541},{65,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,26}}</string>
                <key>sourceSize</key>
                <string>{65,26}</string>
            </dict>
            <key>img_1point_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,509},{45,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,30}}</string>
                <key>sourceSize</key>
                <string>{45,30}</string>
            </dict>
            <key>img_2point_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,355},{47,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,30}}</string>
                <key>sourceSize</key>
                <string>{47,30}</string>
            </dict>
            <key>img_3point_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,323},{47,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,30}}</string>
                <key>sourceSize</key>
                <string>{47,30}</string>
            </dict>
            <key>img_4point_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,291},{47,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,30}}</string>
                <key>sourceSize</key>
                <string>{47,30}</string>
            </dict>
            <key>img_500k_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,251},{67,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,31}}</string>
                <key>sourceSize</key>
                <string>{67,31}</string>
            </dict>
            <key>img_5point_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,477},{45,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,30}}</string>
                <key>sourceSize</key>
                <string>{45,30}</string>
            </dict>
            <key>img_6point_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,445},{45,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,30}}</string>
                <key>sourceSize</key>
                <string>{45,30}</string>
            </dict>
            <key>img_7point_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,387},{45,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,30}}</string>
                <key>sourceSize</key>
                <string>{45,30}</string>
            </dict>
            <key>img_8point_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,259},{47,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,30}}</string>
                <key>sourceSize</key>
                <string>{47,30}</string>
            </dict>
            <key>img_9point_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,227},{47,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,30}}</string>
                <key>sourceSize</key>
                <string>{47,30}</string>
            </dict>
            <key>img_banker_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,483},{56,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,30}}</string>
                <key>sourceSize</key>
                <string>{56,30}</string>
            </dict>
            <key>img_black_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,102},{130,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,33}}</string>
                <key>sourceSize</key>
                <string>{130,33}</string>
            </dict>
            <key>img_dice_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,681},{102,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,118}}</string>
                <key>sourceSize</key>
                <string>{102,118}</string>
            </dict>
            <key>img_dice_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,551},{102,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,118}}</string>
                <key>sourceSize</key>
                <string>{102,118}</string>
            </dict>
            <key>img_dice_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,511},{102,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,120}}</string>
                <key>sourceSize</key>
                <string>{102,120}</string>
            </dict>
            <key>img_dice_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,552},{102,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,120}}</string>
                <key>sourceSize</key>
                <string>{102,120}</string>
            </dict>
            <key>img_dice_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,511},{102,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,120}}</string>
                <key>sourceSize</key>
                <string>{102,120}</string>
            </dict>
            <key>img_dice_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,577},{102,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,120}}</string>
                <key>sourceSize</key>
                <string>{102,120}</string>
            </dict>
            <key>img_dizhu_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,419},{62,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,48}}</string>
                <key>sourceSize</key>
                <string>{62,48}</string>
            </dict>
            <key>img_double_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,384},{59,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,30}}</string>
                <key>sourceSize</key>
                <string>{59,30}</string>
            </dict>
            <key>img_gold_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,406},{197,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,96}}</string>
                <key>sourceSize</key>
                <string>{197,96}</string>
            </dict>
            <key>img_gold_less.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{120,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,103}}</string>
                <key>sourceSize</key>
                <string>{120,103}</string>
            </dict>
            <key>img_gold_more.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{206,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,109}}</string>
                <key>sourceSize</key>
                <string>{206,109}</string>
            </dict>
            <key>img_majiang_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,785},{65,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,99}}</string>
                <key>sourceSize</key>
                <string>{65,99}</string>
            </dict>
            <key>img_majiang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,785},{65,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,99}}</string>
                <key>sourceSize</key>
                <string>{65,99}</string>
            </dict>
            <key>img_majiang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,930},{65,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,99}}</string>
                <key>sourceSize</key>
                <string>{65,99}</string>
            </dict>
            <key>img_majiang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,829},{65,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,99}}</string>
                <key>sourceSize</key>
                <string>{65,99}</string>
            </dict>
            <key>img_majiang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,930},{65,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,99}}</string>
                <key>sourceSize</key>
                <string>{65,99}</string>
            </dict>
            <key>img_majiang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,829},{65,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,99}}</string>
                <key>sourceSize</key>
                <string>{65,99}</string>
            </dict>
            <key>img_majiang_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,762},{65,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,99}}</string>
                <key>sourceSize</key>
                <string>{65,99}</string>
            </dict>
            <key>img_majiang_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,695},{65,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,99}}</string>
                <key>sourceSize</key>
                <string>{65,99}</string>
            </dict>
            <key>img_majiang_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,681},{65,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,99}}</string>
                <key>sourceSize</key>
                <string>{65,99}</string>
            </dict>
            <key>img_majiang_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,618},{65,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,99}}</string>
                <key>sourceSize</key>
                <string>{65,99}</string>
            </dict>
            <key>img_majiang_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,630},{65,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,99}}</string>
                <key>sourceSize</key>
                <string>{65,99}</string>
            </dict>
            <key>img_north_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,170},{268,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,266}}</string>
                <key>sourceSize</key>
                <string>{268,266}</string>
            </dict>
            <key>img_north_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,643},{70,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,36}}</string>
                <key>sourceSize</key>
                <string>{70,36}</string>
            </dict>
            <key>img_notice_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{544,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{544,134}}</string>
                <key>sourceSize</key>
                <string>{544,134}</string>
            </dict>
            <key>img_sky_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,138},{268,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,266}}</string>
                <key>sourceSize</key>
                <string>{268,266}</string>
            </dict>
            <key>img_sky_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,546},{70,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,36}}</string>
                <key>sourceSize</key>
                <string>{70,36}</string>
            </dict>
            <key>img_south_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{268,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,266}}</string>
                <key>sourceSize</key>
                <string>{268,266}</string>
            </dict>
            <key>img_south_tilte.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,122},{70,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,36}}</string>
                <key>sourceSize</key>
                <string>{70,36}</string>
            </dict>
            <key>img_tiltle.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,2},{118,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,28}}</string>
                <key>sourceSize</key>
                <string>{118,28}</string>
            </dict>
            <key>tbn_gold_press_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,137},{128,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,65}}</string>
                <key>sourceSize</key>
                <string>{128,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>erguotou.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e78ed96bc3c49b687f48c9ed321a91b:1/1$</string>
            <key>textureFileName</key>
            <string>erguotou.png</string>
        </dict>
    </dict>
</plist>
