<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_check_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,656},{120,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,46}}</string>
                <key>sourceSize</key>
                <string>{120,46}</string>
            </dict>
            <key>btn_check_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,610},{120,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,46}}</string>
                <key>sourceSize</key>
                <string>{120,46}</string>
            </dict>
            <key>btn_login.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,808},{209,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,64}}</string>
                <key>sourceSize</key>
                <string>{209,64}</string>
            </dict>
            <key>btn_login_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,808},{209,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,64}}</string>
                <key>sourceSize</key>
                <string>{209,64}</string>
            </dict>
            <key>btn_login_kefu.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,704},{81,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,95}}</string>
                <key>sourceSize</key>
                <string>{81,95}</string>
            </dict>
            <key>btn_login_kefu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,704},{81,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,95}}</string>
                <key>sourceSize</key>
                <string>{81,95}</string>
            </dict>
            <key>btn_login_notice.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{81,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,95}}</string>
                <key>sourceSize</key>
                <string>{81,95}</string>
            </dict>
            <key>btn_login_notice_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,528},{81,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,95}}</string>
                <key>sourceSize</key>
                <string>{81,95}</string>
            </dict>
            <key>btn_phone_login.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,808},{209,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,64}}</string>
                <key>sourceSize</key>
                <string>{209,64}</string>
            </dict>
            <key>btn_phone_login_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{209,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,64}}</string>
                <key>sourceSize</key>
                <string>{209,64}</string>
            </dict>
            <key>btn_register.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,544},{142,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,64}}</string>
                <key>sourceSize</key>
                <string>{142,64}</string>
            </dict>
            <key>btn_register_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,478},{142,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,64}}</string>
                <key>sourceSize</key>
                <string>{142,64}</string>
            </dict>
            <key>btnimg_login.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,611},{73,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,35}}</string>
                <key>sourceSize</key>
                <string>{73,35}</string>
            </dict>
            <key>btnimg_register.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,656},{72,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,35}}</string>
                <key>sourceSize</key>
                <string>{72,35}</string>
            </dict>
            <key>img_check_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,658},{117,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,42}}</string>
                <key>sourceSize</key>
                <string>{117,42}</string>
            </dict>
            <key>img_input_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{332,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,48}}</string>
                <key>sourceSize</key>
                <string>{332,48}</string>
            </dict>
            <key>img_label_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,559},{224,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,29}}</string>
                <key>sourceSize</key>
                <string>{224,29}</string>
            </dict>
            <key>img_label_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,610},{196,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,30}}</string>
                <key>sourceSize</key>
                <string>{196,30}</string>
            </dict>
            <key>img_label_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,478},{196,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,30}}</string>
                <key>sourceSize</key>
                <string>{196,30}</string>
            </dict>
            <key>img_label_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,715},{196,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,29}}</string>
                <key>sourceSize</key>
                <string>{196,29}</string>
            </dict>
            <key>img_label_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,528},{224,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,29}}</string>
                <key>sourceSize</key>
                <string>{224,29}</string>
            </dict>
            <key>img_register_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{484,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{484,474}}</string>
                <key>sourceSize</key>
                <string>{484,474}</string>
            </dict>
            <key>img_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,676},{37,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,30}}</string>
                <key>sourceSize</key>
                <string>{37,30}</string>
            </dict>
            <key>img_selected_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,611},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>login.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ecae980c622c823f89213c140d3899b:1/1$</string>
            <key>textureFileName</key>
            <string>login.png</string>
        </dict>
    </dict>
</plist>
