<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dice_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,868},{122,116}}</string>
                <key>offset</key>
                <string>{-136,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,150},{122,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>dice_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{292,192}}</string>
                <key>offset</key>
                <string>{-56,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,151},{292,192}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>dice_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,2},{290,184}}</string>
                <key>offset</key>
                <string>{-61,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,160},{290,184}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>dice_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,2},{280,152}}</string>
                <key>offset</key>
                <string>{-53,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,191},{280,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>dice_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,705},{278,112}}</string>
                <key>offset</key>
                <string>{-55,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,236},{278,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>dice_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,324},{278,132}}</string>
                <key>offset</key>
                <string>{-55,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,216},{278,132}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>dice_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,2},{282,162}}</string>
                <key>offset</key>
                <string>{-60,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,174},{282,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>dice_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,165},{278,158}}</string>
                <key>offset</key>
                <string>{-56,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,180},{278,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>dice_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,283},{272,144}}</string>
                <key>offset</key>
                <string>{-57,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,203},{272,144}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>dice_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,451},{272,124}}</string>
                <key>offset</key>
                <string>{-53,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,225},{272,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>dice_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,457},{262,128}}</string>
                <key>offset</key>
                <string>{-60,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,214},{262,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>dice_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,187},{274,138}}</string>
                <key>offset</key>
                <string>{-54,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,214},{274,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>dice_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,576},{260,128}}</string>
                <key>offset</key>
                <string>{-52,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,225},{260,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>dice_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,556},{288,106}}</string>
                <key>offset</key>
                <string>{-48,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,247},{288,106}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>dice_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,556},{298,112}}</string>
                <key>offset</key>
                <string>{-51,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,231},{298,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>dice_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,195},{272,134}}</string>
                <key>offset</key>
                <string>{-53,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,226},{272,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>dice_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,855},{260,108}}</string>
                <key>offset</key>
                <string>{-54,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,245},{260,108}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>dice_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,586},{270,120}}</string>
                <key>offset</key>
                <string>{-61,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,236},{270,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>dice_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,707},{270,108}}</string>
                <key>offset</key>
                <string>{-52,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,247},{270,108}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>dice_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,605},{262,126}}</string>
                <key>offset</key>
                <string>{-57,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,226},{262,126}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>dice_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,599},{268,124}}</string>
                <key>offset</key>
                <string>{-57,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,226},{268,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>dice_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,855},{262,116}}</string>
                <key>offset</key>
                <string>{-56,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,242},{262,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>dice_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,855},{262,116}}</string>
                <key>offset</key>
                <string>{-56,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,242},{262,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>dice_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,705},{268,120}}</string>
                <key>offset</key>
                <string>{-56,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,242},{268,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>dice_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,326},{284,124}}</string>
                <key>offset</key>
                <string>{-67,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,232},{284,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>dice_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{274,128}}</string>
                <key>offset</key>
                <string>{-66,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,227},{274,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>dice_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,330},{268,130}}</string>
                <key>offset</key>
                <string>{-63,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,226},{268,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dice.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dfe65c0bd21ba98c0bd7b4befaee28c6:1/1$</string>
            <key>textureFileName</key>
            <string>dice.png</string>
        </dict>
    </dict>
</plist>
